[submodule "spdlog"]
	path = Ivory/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Ivory/vendor/GLFW"]
	path = Ivory/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Ivory/vendor/imgui"]
	path = Ivory/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Ivory/vendor/glm"]
	path = Ivory/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Ivory/vendor/yaml-cpp"]
	path = Ivory/vendor/yaml-cpp
	url = https://github.com/thecherno/yaml-cpp
[submodule "Ivory/vendor/ImGuizmo"]
	path = Ivory/vendor/ImGuizmo
	url = https://github.com/thecherno/imguizmo
