[submodule "spdlog"]
	path = Ivory/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Ivory/vendor/GLFW"]
	path = Ivory/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Ivory/vendor/imgui"]
	path = Ivory/vendor/imgui
	url = https://github.com/TheCherno/imgui
